.box {
    border: 5px solid red;
    margin: 10px;
    padding-left: 10px;
}

div#elem h2 {
    color: green;
}
#elem .text {
    color: green;
}
#elem_3 p.text_3 {
    color: green;
}
#elem_4 li.text_4 {
    color: green;
}